<h1 class="contact">Videos</h1>
{{#if errorMessage}}
<p style="color: red;">{{errorMessage}}</p>
<a href="/videos">Go back</a>
{{/if}}


<div class="videos-page">


{{#each videos}}

    <div class="videos">
        <section class="video-section">
            <div class="video-btn">
                <form class="video-btn1" action="/videos/{{_id}}/edit-video">
                    <button class="video-btn1" value="edit">Edit</button>
                </form>
                <form class="video-btn2" action="/videos/{{_id}}/delete" method="post">
                    <button class="video-btn2" value="delete">Delete</button>
                </form>
            </div>
            <article class="video-container">
                <a href="/video-player/{{_id}}" class="thumbnail" data-duration="12:24">
                    <img src="{{thumbnail}}" alt="" class="thumbnail-image">
                </a>
                <div class="video-bottom-section">
                    <a href="#">
                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="channel-icon">
                    </a>
                    <div class="video-details">
                        <a href="/video-player/{{_id}}" class="video-title">{{title}}</a>
                        <a href="#" class="video-channel-name">{{owner.userName}}</a>
                        <div class="video-metadata">
                            {{!-- <span>12K views</span>
                            • --}}
                            <span>{{date}}</span>
                        </div>
                    </div>
                </div>
            </article>

        </section>
    </div>


{{/each}}
</div>
