<h1>Videos</h1>
<div class="videos-page">
{{#each videos}}

    <div class="videos">
        <section class="video-section">
            <article class="video-container">
                <a href="/video-player/{{_id}}" class="thumbnail" data-duration="12:24">
                    <img src="{{thumbnail}}" alt="" class="thumbnail-image">
                </a>
                <div class="video-bottom-section">
                    <a href="#">
                        <img src="http://unsplash.it/250/150?gravity=center" alt="" class="channel-icon">
                    </a>
                    <div class="video-details">
                        <a href="/video-player/{{_id}}" class="video-title">{{title}}</a>
                        <a href="#" class="video-channel-name">{{owner.userName}}</a>
                        <div class="video-metadata">
                            {{!-- <span>12K views</span>
                            • --}}
                            <span>{{date}}</span>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
{{/each}}
</div>
